header {
    width: 100%;
    text-align:center;
}

.content {
    width: 80%;
    margin:0 auto;
}

.whiteboard {
    width:50%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

}

.whiteboard iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testimonials {
    margin:0 auto;
}
.testimonials .leftvid,
.testimonials .rightvid {
    width:45%;
    float:left;
}

.testimonials .rightvid {
    margin-left:3%;
}