html {
    width:1280px;
  background: url(../bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:rgb(30, 100, 181);
  font-family:'Droid Sans';
  font-weight:700;
}

h1,p,h2,iframe {
    padding:0;
    margin:0;
}

header {
    text-align:center;
    font-size:32px;
}

header h1 {
    padding-bottom:30px;
}

.testimonials {
    margin-top:30px;
    font-size:28px;
}

.testimonials p {
    margin:0;
    padding:0;
    width:800px;
    font-size:24px;
    text-align:center;
    margin-left:240px;
    margin-bottom:30px;
}

.whiteboard iframe{
    margin-left:320px;
}

.testimonials h2,
.testimonials p {
    text-align:center;
}

.testimonials iframe {
    margin-left:320px;
}